<ion-header>
    <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <ion-icon name="basket"></ion-icon> 
        Alimama Shopping
      </ion-title>
    </ion-navbar>
  </ion-header>   
    
<ion-content ng-controller="FullscreenImageCtrl">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Search in Alimama"></ion-searchbar>
  
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="category"  (ionChange)="applyCategoryFilter()">
        <ion-option value="all" selected>All</ion-option>
        <ion-option value="grocery">Grocery</ion-option>
        <ion-option value="computer">Computer Accessories</ion-option>
      </ion-select>
    </ion-item>
  <ion-list *ngFor="let item of items" ng-model="">
    <ion-item>
      <ion-thumbnail item-start>
        <img src="{{item.img}}" height="auto" width="auto" imageViewer />
      </ion-thumbnail>
      <h1>{{item.title}}</h1>
      <h2>{{item.currency}} {{item.price}} 
        <button *ngIf="item.quantityInCart" (click)="reduceCart(item)" color="light" ion-button small>
          X {{item.quantityInCart}} = {{item.currency}} {{item.sum}}
        </button>  
      </h2>
      <label *ngIf="item.promo">
          {{item.promo}}<br/>
      </label>
      <label *ngIf="item.np">
          NP: {{item.currency}} {{item.np}}
      </label>
      <button (click)="addToCart(item); add($event)" ion-button icon-left small float-right value="{{item.id}}">
        <ion-icon name="add"></ion-icon>
          Add to Cart
      </button>
    </ion-item>
  </ion-list>
  <!-- <ion-list *ngFor="let item of items">
    <ion-item>
      <ion-thumbnail item-start>
        <a href=""><img src="http://lorempixel.com/200/200" height="auto" width="auto"/></a>
      </ion-thumbnail>
      <h1>T-Shirt</h1>
      <p>Price</p>
      <button *ngIf="item.quantityInCart" color="light" ion-button small>
        {{item.quantityInCart}}
      </button>
      <button (click)="addToCart(item)" ion-button icon-left small float-right>
        <ion-icon name="add"></ion-icon>
        Add to Cart
      </button>
    </ion-item>
  </ion-list> -->
  <script id="image-modal.html" type="text/ng-template">
    <div class="modal image-modal transparent" ng-click="closeModal()">
        <ion-pane class="transparent">
           <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
        </ion-pane>
    </div>
</script>
</ion-content>